<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessApp"
        tools:targetApi="31">
        <activity
            android:name=".LateralRaiseActivity"
            android:exported="false" />
        <activity
            android:name=".FronRaiseActivity"
            android:exported="false" />
        <activity
            android:name=".DumbbellScaptionActivity"
            android:exported="false" />
        <activity
            android:name=".DumbbellFrontRaiseActivity"
            android:exported="false" />
        <activity
            android:name=".DumbelFrontRiseActivity"
            android:exported="false" />
        <activity
            android:name=".DumbellFrontRaise"
            android:exported="false" />
        <activity
            android:name=".shoulderPress"
            android:exported="false" />
        <activity
            android:name=".VBarLatPulldownActivity"
            android:exported="false" />
        <activity
            android:name=".CablePulloverActivity"
            android:exported="false" />
        <activity
            android:name=".SeatedCableRowActivity"
            android:exported="false" />
        <activity
            android:name=".LatpulldownActivity"
            android:exported="false" />
        <activity
            android:name=".kabloCekme"
            android:exported="false" />
        <activity
            android:name=".oturarakKaldiris"
            android:exported="false" />
        <activity
            android:name=".tekdambil"
            android:exported="false" />
        <activity
            android:name=".z_barcurl"
            android:exported="false" />
        <activity
            android:name=".tekTarafGogus"
            android:exported="false" />
        <activity
            android:name=".Butterfly"
            android:exported="false" />
        <activity
            android:name=".ChestPress"
            android:exported="false" />
        <activity
            android:name=".Gecis4"
            android:exported="false" />
        <activity
            android:name=".Gecis3"
            android:exported="false" />
        <activity
            android:name=".Gecis2"
            android:exported="false" />
        <activity
            android:name=".Gecis"
            android:exported="false" />
        <activity
            android:name=".DumbellKaldirma"
            android:exported="false" />
        <activity
            android:name=".ShoulderActivity"
            android:exported="false" />
        <activity
            android:name=".BackActivity"
            android:exported="false" />
        <activity
            android:name=".BicepsActivity"
            android:exported="false" />
        <activity
            android:name=".ChestActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>